<!DOCTYPE html>
<html>
    <head>
        <title>First Page</title>
    </head>

    <body>
        <h1>News 1965</h1>

        <p>Pakistan’s Defence Day [Sept.06] is one of the most vital events of Pakistan’s history. Fifty years ago, on September 6, 1965, Indian army crossed the international borders of Pakistan without a formal declaration of War. It was a time when not just our brave soldiers but the entire nation stood up to defend the motherland and compelled the Indian Army to escape from the battlefield, eventually a ceasefire came into effect on September 23, 1965 under the auspices of the United Nations due to an intervention of then superpowers i.e. USSR and the USA.</p>

        <a href="{{ url_for('more') }}">Next Page..</a>
    </body>
</html>