<!DOCTYPE html>
<head>
    <title>Second Page</title>
</head>

<body>
    <h1>News 1971</h1>

    <p>1971        Jan 6, The 1964 Gulf of Tonkin resolution, which amounted to a declaration of war against Vietnam, was repealed by Congress. US Senators Wayne Morse of Oregon and Ernest Gruening of Alaska share the distinction of casting the only votes against the Gulf of Tonkin Resolution on August 7, 1964. The resolution supported President Lyndon Johnson's military actions against North Vietnam in retaliation for its attack on a US spy ship in the Tonkin Gulf. The resolution passed in the House 414-0 and the Senate 88-2.</p>

    <a href="{{ url_for('index') }}">Previous Page...</a>
</body>